body {
    background-color: antiquewhite;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.table-container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    table-layout: auto;
    width: auto;
    border: 1px solid black;
    /* border-collapse: collapse; */
}

button {
    all: unset;
}

td,
th {
    border: 1px solid black;
    padding: 10px 20px;
    text-align: left;
}

th {
    background-color: rgb(155, 174, 228);
    font-weight: bold;
}

tr:nth-child(odd) {
    background-color: rgb(168, 169, 169);
}

tr:nth-child(even) {
    background-color: rgb(224, 219, 219);
}

td.actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

td.actions > * {
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
}

.details {
    background-color: rgba(5, 138, 246, 1);
}

.details:hover {
    background-color: rgba(5, 138, 246, 0.5);
}

.update {
    background-color: rgb(255, 165, 0, 1);
}
.update:hover {
    background-color: rgb(255, 165, 0, 0.5);
}

.delete {
    background-color: red;
}
.delete:hover {
    background-color: rgb(255, 0, 0, 0.5);
}

.add-book-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book {
    text-align: center;
    background-color: rgb(236, 12, 236, 1);
    margin: auto;
    padding: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.add-book:hover {
    background-color: rgb(236, 12, 236, 0.5);
}

.backdrop {
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 177, 177, 0.6);
    opacity: 0;
    transition: opacity 0.8s ease-out;
}

.modal {
    width: 40vw;
    height: 50vh;

    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 0.5em;

    padding: 1em;
    background-color: rgb(252, 252, 252);
    border: 1px solid darkgrey;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgb(173 173 173);
    color: #121212;
    transition: opacity 0.5s ease, z-index 0s 0.5s;
}

.modal .btn-close {
    display: flex;
    border: 2px solid lightgrey;
    border-radius: 50%;
    box-shadow: 3px 3px 6px rgb(173 173 173);
    top: 0.5em;
    right: 0.5em;
    width: 1.5em;
    height: 1.5em;

    position: absolute;
    scroll-margin-block-start: 0.25em;
    margin-inline-end: 0.25em;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.modal-title {
    display: flex;
    padding: 20px 0;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.opaque {
    opacity: 1;
    z-index: 10;
    transition: opacity 0.5s ease, z-index 0s;
    pointer-events: auto;
}
